@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Anton&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
